//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html,
body {
  font-family: 'Montserrat', sans-serif;
}

p,
a {
  color: $text;
  font-size: 19px;
  line-height: 35px;
}

a {
  transition: all 0.3s;
}

h1 {
  font-size: 72px;
  font-weight: 300;
}

h2 {
  font-size: 45px;
  font-weight: 300;
  line-height: 55px;
}

h3 {
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
}

h4,
h5,
h6 {
  font-size: 20px;
  font-weight: 35px;
}

.btn {
  background-color: $primary;
  color: $white;
  font-weight: 300;
  padding: 15px;

  &.large {
    max-width: 455px;
    width: 100%;
  }

  &:hover {
    background-color: $secondary;
  }
}
