::v-deep header {
  .menu-mobile {
    img {
      filter: brightness(0);
    }
  }
}

#Banner {
  background-image: url(@/static/images/home/noivado-casamento-relacionamento-repleto-de-paz-amor-alegria.png);
  background-position: center;
  min-height: 965px;
  padding: 180px 0;

  .container {
    align-self: center;
  }

  h1 {
    font-size: 30px !important;
    font-weight: 300;
    line-height: 40px;
  }

  p {
    margin-bottom: 40px
  }

  .btn--outline {
    margin: 0 5px;
  }

  @media screen and (max-width: 991px) {
    min-height: 765px;
    padding: 90px 0;

    h1 {
      font-size: 40px;
    }
  }
}

.about-home {
  background-color: $white;
  overflow: hidden;
  padding: 90px 0 200px;
  position: relative;

  &::after {
    content: url(@/static/images/elements/curso-de-noivos.png);
    position: absolute;
    margin-left: 50%;
    object-position: center;
    bottom: 50px;
    transform: translateX(-50%);
  }

  [class^='col-'] {
    z-index: 99;
  }

  h2 {
    text-transform: initial;
    margin-bottom: 30px;
  }

  @media screen and (max-width: 991px) {
    &::after {
      content: url(@/static/images/elements/curso-de-noivos-mobile.png);
    }
  }
}

.relacionamento {
  padding: 45px 0;

  h2 {
    text-transform: initial;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 40px;
  }
}

.casamento {
  padding: 0 0 45px;

  h2 {
    text-transform: initial;
    margin-bottom: 0;
  }

  h3 {
    font-size: 30px;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 5px;
  }

  p {
    margin-bottom: 40px;
  }

  .text-motivos {
    p {
      font-size: 17px;
      line-height: 35px;
    }
  }
}

.who-we-are {
  background: #fbfafa;
  padding: 150px 0 120px;

  .w-80 {
    max-width: 460px;
  }

  h3 {
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
  }

  .container-full {
    p {
      max-width: 270px;
    }
  }

  @media screen and (max-width: 991px) {
    padding: 90px 0;
  }
}

.parallax {
  background: url(@/static/images/home/uma-imersao-inesquecivel.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 400px 0;

  .btn {
    margin: 0 5px;
  }

  @media screen and (max-width: 991px) {
    padding: 90px 0;
  }
}

.blog {

}

.midias {
  position: relative;

  &::after {
    background: url(@/static/images/home/siga-nos.png);
    background-position: top center;
    content: '';
    min-height: 550px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  @media screen and (max-width: 991px) {
    overflow: hidden;
  }
}

.sobre-curso {
  padding: 90px 0 0;
  .btn {
    margin: 0 5px;
  }

  .w-990 {
    max-width: 930px;
    margin: 0 auto;
  }
}